analisis_curacion/*.csv
mentoria/Datos
mentoria/Documentos
mentoria/.ipynb_checkpoints/
mentoria/dask-worker-space/
mentoria/normilizer.pkl
mentoria/misc/.ipynb_checkpoints/
.DS_Store
analisis_curacion/.ipynb_checkpoints/
aprendizaje_automatico/.ipynb_checkpoints/
aprendizaje_supervizado/src/.ipynb_checkpoints/
